*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background: url(../assets/img6.jpg);
}
    
section{
    text-align: center;
    }
   

.titulo{
    margin: 35px 0;
    text-align: center;
    padding: 20px;
    color: hsl(357, 38%, 38%);
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    }


    p{
        padding-top: 20px;
        color: white;
        font-size: 15px;
    }
